.elementor-1324 .elementor-element.elementor-element-705301e>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-required-indicator {
    color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .mf-input[aria-invalid="true"],
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .mf-input.mf-invalid {
    border-color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-error-message {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input,
.elementor-1324 .elementor-element.elementor-element-270cb33 .elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-bar,
.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-from,
.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-to,
.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-single {
    background-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-handle {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-from:before,
.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-to:before,
.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-single:before {
    border-top-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .input-range__slider {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .input-range__track--active,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .input-range__label-container,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .input-range__label-container:before {
    background-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #000000;
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-calculation-total {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__menu-notice--no-options {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__menu-notice--no-options,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-multiselect .mf_multiselect__control {
    background-color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:hover,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-handle:hover {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-file-upload-label:hover {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:hover .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .input-range__slider:hover {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__menu-notice--no-options:hover {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:focus,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-handle:focus {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-file-upload-container:focus .mf-image-label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-calculation-total:focus {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .input-range__slider:focus {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-calculation-total:focus,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__option:focus,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__menu-notice--no-options:focus {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input,
.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-single,
.elementor-1324 .elementor-element.elementor-element-270cb33 .asRange .asRange-pointer .asRange-tip,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .input-range__label-container {
    font-family: "Lexend", Sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-calculation-total {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-select>.mf_select__control,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-multiselect .mf_multiselect__control,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__menu-notice--no-options {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input,
.elementor-1324 .elementor-element.elementor-element-270cb33 .irs--round .irs-line,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-switch label.mf-input-control-label:before,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .asRange,
.elementor-1324 .elementor-element.elementor-element-270cb33 .asRange .asRange-pointer:before,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-select>.mf_select__control,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-multiselect .mf_multiselect__control,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input-wrapper .input-range__track--background {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) inset;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-time-input::before {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input::-webkit-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input::-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:-ms-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 .mf-input:-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-270cb33 :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-required-indicator {
    color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .mf-input[aria-invalid="true"],
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .mf-input.mf-invalid {
    border-color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-error-message {
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-bar,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-from,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-to,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-single {
    background-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-handle {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-from:before,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-to:before,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-single:before {
    border-top-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .input-range__slider {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .input-range__track--active,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .input-range__label-container,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .input-range__label-container:before {
    background-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #000000;
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-calculation-total {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__menu-notice--no-options {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__menu-notice--no-options,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-multiselect .mf_multiselect__control {
    background-color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:hover,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-handle:hover {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-file-upload-label:hover {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:hover .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .input-range__slider:hover {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__menu-notice--no-options:hover {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:focus,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-handle:focus {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-file-upload-container:focus .mf-image-label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-calculation-total:focus {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .input-range__slider:focus {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-calculation-total:focus,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__option:focus,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__menu-notice--no-options:focus {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-single,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .asRange .asRange-pointer .asRange-tip,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .input-range__label-container {
    font-family: "Lexend", Sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-calculation-total {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-select>.mf_select__control,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-multiselect .mf_multiselect__control,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__menu-notice--no-options {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .irs--round .irs-line,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-switch label.mf-input-control-label:before,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .asRange,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .asRange .asRange-pointer:before,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-select>.mf_select__control,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-multiselect .mf_multiselect__control,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input-wrapper .input-range__track--background {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) inset;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-time-input::before {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input::-webkit-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input::-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:-ms-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 .mf-input:-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-358e5d0 :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-bar,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-from,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-to,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-single {
    background-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-handle {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-from:before,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-to:before,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-single:before {
    border-top-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .input-range__slider {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .input-range__track--active,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .input-range__label-container,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .input-range__label-container:before {
    background-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .asRange .asRange-pointer .asRange-tip {
    background-color: #000000;
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-calculation-total {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__menu-notice--no-options {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__menu-notice--no-options,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-multiselect .mf_multiselect__control {
    background-color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:hover,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper:hover .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-handle:hover {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-file-upload-label:hover {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:hover .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-file-upload-container:hover .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .input-range__slider:hover {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value:hover .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__menu-notice--no-options:hover {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:focus,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper:focus .iti--separate-dial-code .iti__selected-dial-code {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-handle:focus {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-file-upload-container:focus .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-file-upload-container:focus .mf-image-label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-calculation-total:focus {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input>.mf_select__control--is-focused .mf_select__single-value {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-file-upload-container:focus .mf-input-file-upload-label svg path {
    stroke: #000000;
    fill: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .input-range__slider:focus {
    border-color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-calculation-total:focus,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__option:focus,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value:focus .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__menu-notice--no-options:focus {
    color: #000000;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-single,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .asRange .asRange-pointer .asRange-tip,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .input-range__label-container {
    font-family: "Lexend", Sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-calculation-total {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-select>.mf_select__control,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-multiselect .mf_multiselect__control,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value__label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__multi-value__remove,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__menu-notice--no-options {
    border-radius: 7px;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .irs--round .irs-line,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-switch label.mf-input-control-label:before,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .asRange,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .asRange .asRange-pointer:before,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-file-upload-container .mf-input-file-upload-label,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .iti--separate-dial-code .iti__selected-flag,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-calculation-total,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-select>.mf_select__control,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-multiselect .mf_multiselect__control,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf_multiselect__option,
.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input-wrapper .input-range__track--background {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) inset;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-time-input::before {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input::-webkit-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input::-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:-ms-input-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-input:-moz-placeholder {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 :is(.mf_select__placeholder, .mf_multiselect__placeholder) {
    color: #c9c1c1;
}

.elementor-1324 .elementor-element.elementor-element-ee092f2 .mf-error-message {
    color: #FF0000;
}

.elementor-1324 .elementor-element.elementor-element-889affa .mf-btn-wraper {
    text-align: center;
}

.elementor-1324 .elementor-element.elementor-element-889affa .metform-btn {
    padding: 15px 20px 15px 20px;
    font-family: "Lexend", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #1F2835;
    border-style: none;
    border-radius: 12px 12px 12px 12px;
}

.elementor-1324 .elementor-element.elementor-element-889affa .metform-btn:hover {
    color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-889affa .mf-btn-wraper i {
    color: #FFFFFF;
}

.elementor-1324 .elementor-element.elementor-element-889affa .metform-btn>i {
    padding-left: 5px;
}